.header {
  line-height: 1.2;
  width: 100%;
  background-color: #0058a3;
  padding: 0;
  top: 0;
  position: fixed;
  display: block;
  border: 0.5px solid rgb(255, 219, 0);
  border-radius: 5px;
}
.header h2 {
  font-size: 40px;
  font-family: Noto Sans;
  letter-spacing: 0.5px;
  font-weight: 8000;
  padding: 0.3rem 2rem;
  text-align: center;
  color: rgb(255, 219, 0);
  justify-items: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgb(247, 244, 204);
  -webkit-transition: color rgb(255, 219, 0);
  transition: rgb(255, 219, 0);
}

.header h2:hover {
  color: powderblue;
}
