.itemcreator {
  display: grid;
  justify-content: center;
  text-align: center;
}

.itemCreatorForm {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  font-weight: 300;
  justify-items: center;
  margin-top: 1.5rem;
}

.itemCreatorForm .form {
  margin: 1rem 3rem;
  display: grid;
  row-gap: 1.5rem;
  grid-template-areas: "inputName" "inputPrice " "submit";
}

.itemCreatorForm input {
  background-color: #fff;
  border: 2px solid rgb(114, 112, 112);
  border-radius: 40em;
  outline: 0;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: gray;
  display: inline-flex;
  flex-direction: column;
}

.itemCreatorForm input:focus {
  background-color: #f7fafe;
  border-color: #0055a3;
  color: #0055a3;
  transition: transform 350ms ease-in-out;
}

.itemCreatorForm .inputName {
  grid-area: inputName;
}

.itemCreatorForm .inputPrice {
  grid-area: inputPrice;
}

.itemCreatorForm .btn-form {
  margin: 1rem;
  grid-area: submit;
  justify-self: center;
}
