.btn-main,
.btn-form {
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  border: 0;
  line-height: 1.4;
  padding: 0.5rem 2.3rem;
  background-color: rgb(255, 219, 0);
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: rgb(11, 5, 43);
  margin: 0 auto;
  margin-top: 1rem;
  box-shadow: 0em 0.3em 0.3em 0em #0055a3;
  transition: transform 250ms ease-in-out;
  border-radius: 2rem;
  box-shadow: none;
}

.btn-main::after {
  content: "";
  position: relative;
  box-shadow: 0em 0em 1.25em 0em #0055a3;
  transition: transform 250ms ease-in-out;
  opacity: 0;
}
.btn-main:hover,
.btn-main:focus {
  transform: scale(1.1);
}
.btn-main:hover::after,
.btn-main:focus::after {
  opacity: 1;
}

.btn-form {
  background-color: #0055a3;
  color: whitesmoke;
}

.btn-sorter {
  box-shadow: 0em 0.3em 0.5em 0em rgba(0, 0, 0, 0.2);
  transition: transform 250ms ease-in-out;
  position: relative;
  color: #0055a3;
  border-radius: 2rem;
  box-shadow: none;
  padding: 0.5em 1em;
  cursor: pointer;
}
.btn-sorter::after {
  content: "";
  position: absolute;
  box-shadow: 0em 0em 1.25em 0em rgba(0, 0, 0, 0.4);
  transition: transform 250ms ease-in-out;
  opacity: 0;
}
.btn-sorter:hover,
.btn-sorter:focus {
  transform: scale(1.1);
}
.btn-sorter:hover::after,
.btn-sorter:focus::after {
  opacity: 1;
}
.btn-sorter:hover {
  box-shadow: none;
  color: purple;
}

.btn-secondary {
  box-shadow: 0em 0.3em 0.5em 0em rgba(0, 0, 0, 0.2);
  transition: transform 250ms ease-in-out;
  font-size: 0.9rem;
  font-weight: 400;
  position: relative;
  text-decoration: none;
  line-height: 1.4;
  padding: 0.3rem 0.5rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: #0055a3;
  margin: 0 auto;
  margin-top: 1rem;
  transition: transform 250ms ease-in-out;
  border-radius: 2rem;
  box-shadow: none;
  display: flex;
}

.icon-button {
  background-color: transparent;
  color: grey;
  display: inline-flex;
  align-items: center;
  transition: transform 250ms ease-in-out;
  position: relative;
  border: none;
  box-shadow: 0 0 0 0;
  cursor: pointer;
  margin: 1.5rem;
  text-decoration: underline;
}
.icon-button::after {
  content: "";
  position: absolute;
  transition: transform 250ms ease-in-out;
  opacity: 0;
}
.icon-button:hover,
.icon-button:focus {
  transform: scale(1.05);
}
.icon-button:hover::after,
.icon-button:focus::after {
  opacity: 1;
}
.icon-button .icon {
  margin-left: 0.3rem;
  height: 1rem;
  width: 1.3rem;
  filter: invert(10%) sepia(90%) saturate(2000%) hue-rotate(160deg)
    brightness(80%) contrast(50%);
}
