* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans";
}

.App {
  display: grid;
  grid: auto-flow min-content / 1fr;

  grid-gap: 1rem;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "header"
    "welcome"
    "listscreen"
    "footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.welcome {
  grid-area: welcome;
  justify-self: center;
}
